/* STYLE */    


        .carousel-inner > item. > img, 
        .carousel-inner > item. >  a > img, {
            width: 100%;
            margin: auto;
        }

.carousel-control > span > img {
    width: 60px;
    height: 60px;
    padding:4px;
    background: #000;
    color: #000;
    border: 2px solid grey;
    border-radius: 100%;
    
    -webkit-transition: width 1.5s; 
    transition: width 1.5s;
   
}

.carousel-control > span > img:hover {
    width: 70px;
    height: 70px;
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
    border: 2px solid #794025;
    border-radius: 100%;
}

.carousel-control {
    z-index: 0;
    top: 50%;
    position: absolute;
    display: inline-block;
}

.carousel-control.left,  .carousel-control.right {
    background-image: none;
    
}

.carousel-caption {
    right:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(100,100,100,0.4)
}


.carousel-caption h1 {
    text-transform: uppercase;
    font-size: 5rem;
}

.carousel-caption  h1, p {
    text-align: center;
    top: 10%;
    left: 0;
    right:0;
    font-family: 'Cardo', serif;
}

.carousel-caption p {
    font-size: 20px;
}


@media screen and (max-width:880px) {
    .carousel-caption  h1, p  {
        top: 50%;
    }
    
    .carousel-caption h1 {
        font-size: 3rem;
    }
    .carousel-caption p {
        font-size: 1.5rem;
    }
}

#myCarousel {
    top:30px;
}

/*SLIDER */

/*NAVBAR*/

.mynavbar {
    background: rgba(255,255,255, 0.5);
    border: 0;
    border-radius: 0;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    top:0;
    width: 100%;
    text-justify: auto;
}

#logo {
    padding-bottom: 60px;
    width: 130px;
    height: 92px;
    object-fit: contain;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
    text-transform: uppercase;
    font-family: 'Cardo', serif;
    font-size: 1.5rem;
    color: #424242;
}

.nav.navbar-nav.navbar-right li a:hover {
    color: #dda57f;
    
}

/*NAVBAR*/


/*GRID */

.grid1 {
 margin-top: 154px;
}

.about2 {
    background-image: url(Images/photo1.png);
    height: 343px;
    width: 556px;
    
}

 .about h2 {
  text-align: left;
  color: #424242;
  font-size: 29px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
     
}
.about p {
  
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: #969696;
    display:flex;
    align-items: center;
    
}

.about h3 {
    color: #dda57f;
    text-align:center;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: solid 3px #dda57f;
    font-weight: bold;
    padding:10px;
    font-family: 'Playfair Display', serif;
    background: none;
    width: 166px;
}

.about p::before {
    content: '';
    display: block;
    margin: 0 auto;
    border: 1px solid #dda57f;
    flex-grow: 1;
    margin: 0;
    width: 100px;
    margin-bottom: 20px;
   
}


.layer {
  width: 557px;
  height: 400px;
  object-fit: contain;
}

.grid2 {
    margin-top: 117px;
}

.about3 {
    background-image: url(Images/photo4.png);
    height: 400px;
    width: 557px;
    margin-left: 28px;
}

.about4 {
    padding: 50px;
}

.about4 h2 {
  color: #dda57f;
  width: 272px;
  height: 29px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  color: #424242;
  text-transform: uppercase;
  font-weight: bold;
}

.about4 p {
  
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: #969696;
    display:flex;
    align-items: center;
    
}

.about4 h3 {
    color: #dda57f;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: solid 3px #dda57f;
    font-weight: bold;
    padding:10px;
    font-family: 'Playfair Display', serif;
    background: none;
    width: 166px;
}

.about5 h2 {
 
  text-align: left;
  color: #424242;
  font-size: 29px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
     
}

.about5 p {
  
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: #969696;
    display:flex;
    align-items: center;
    
}

.about5 h3 {
  
    color: #dda57f;
    text-align:center;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: solid 3px #dda57f;
    font-weight: bold;
    padding:10px;
    font-family: 'Playfair Display', serif;
    background: none;
    width: 166px;
    
}

.about6 {
      background-image: url(Images/photo2.png);
    height: 343px;
    width: 556px;
    margin-right: 20px;
}

/*FOOTER */

.footer-bottom {
    margin-top: 20px;
    width: 100%;
    height: 172px;
    object-fit: contain;
    background-image: url(Images/FOOTER.png);
    background-repeat: no-repeat;
    background-position: center;


}
.footer-bottom ul {
    padding: 70px;
    text-align: center;
 
}
.footer-bottom ul > li {
    padding: 20px;
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff

   
 
}

